* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/imagen_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-registro {
    width: 450px;
    background: #836953;
    padding: 40px;
    margin: auto;
    margin-top: 77px;
    border-radius: 20px;
    font-family: arial;
    color: white;
    box-shadow: 7px 10px 25px #000;
}

.form-registro h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background: #feecc8;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #4B3621;
    font-family: 'arial';
    font-size: 16px;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.form-registro a {
    color: white;
    text-decoration: none;

}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .boton {
    width: 100%;
    align-content: center;
    background: white;
    border: 1px solid #4B3621;
    padding: 12px;
    color: black;
    margin: 10px 0px;
    font-size: 16px;
    border-radius: 5px;
}