* {
  margin:0;
  padding:0;
  font: Arial;
 
}

.field {
display:flex;
position:relative;
width:10%;
flex-direction:row-reverse;
}

.field>button {
padding: 10px;
background-color:#feecc8;
color:white;
border:none;

}