* {
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    body {
    background-image:url('imagen_fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px;
    }
    * {
        margin:0;
        padding:0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main-content{
        padding-top: 60px;
        width: 100%;
        padding-right: 350px;
        
    }
    .field {
        display:flex;
        position:relative;
        width:10%;
        flex-direction:row-reverse;
    }

    .field>button {
        padding: 10px;
        background-color:#feecc8;
        color:black;
        border:none;
    }
    .producto-lista{
        display: table;
        width: 100%;
    }
    .producto-box{
        display: inline-table;
        padding: 10px;
        width: calc(100%/3 - 20px);
    }
    .producto-box a {
        text-decoration: none;
    }
    .producto{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 8px 3px #ccc;
        background-color: #fff;
    }
    .producto img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .detalle-titulo{
        padding: 15px;
        text-align: center;
        font-size:14px;
        color: #999 
    }
    .detalle-descripcion{
        text-align: center;
        font-size: 14px;
        color:#999;
        padding: 5px;
        width: calc(100% - 10px);

    }
    .detalle-precio{
        text-align: center;
        font-size: 18px;
        color:#999; 
    }
    nav{
        width: 100%;
    }
    .celda-ropa{
        font-size: 30px;
        text-align: center;
    }
    .dropdown-menu{
        background-color: #feecc8;
    }
/*Carrucel */
.slider{
    width: 28%;
    overflow: hidden;
    float: right;
    padding-top: 115px;
    
    
}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    

    animation: cambio 20S infinite;
}
.slider li{
    list-style: none;
}
.slider img{
    width: 100%;
    height: 1500px;
    
}

@keyframes cambio {
    0% { margin-left: 0%;}
    20%{ margin-left: 0%;}

    25% { margin-left: -100%;}
    45%{ margin-left: -100%;}

    50% { margin-left: -200%;}
    70%{ margin-left: -200%;}
}
